<div>
  <h2>Login</h2>
  <form action="/api/sessions/login" method="POST">
    Email:
    <input type="text" name="email" />
    <br />
    Password:
    <input type="text" name="password" />
    <br />
    <input type="submit" value="Login" />
  </form>
</div>
<hr>
<a href="/api/sessions/github"><button>Login with Github</button></a>
<br>
<a href="/api/sessions/register"><button>Register</button></a>
